##1.	Primero

from machine import Pin as Pin
from utime import sleep, sleep_ms
led1=Pin(15, Pin.OUT)
led2=Pin(2, Pin.OUT)
led3=Pin(4, Pin.OUT)
led4=Pin(16, Pin.OUT)
led5=Pin(17, Pin.OUT)
led6=Pin(18, Pin.OUT)
led7=Pin(19, Pin.OUT)
led8=Pin(21, Pin.OUT)
led9=Pin(3, Pin.OUT)
led10=Pin(1, Pin.OUT)
pausa=0.2
while True:
    led1. value(1)
    sleep(pausa)
    led1. value(0)
    sleep(pausa)
    led2. value(1)
    sleep(pausa)
    led2. value(0)
    sleep(pausa)
    led3. value(1)
    sleep(pausa)
    led3. value(0)
    sleep(pausa)
    led4. value(1)
    sleep(pausa)
    led4. value(0)
    sleep(pausa)
    led5. value(1)
    sleep(pausa)
    led5. value(0)
    sleep(pausa)
    led6. value(1)
    sleep(pausa)
    led6. value(0)
    sleep(pausa)
    led7. value(1)
    sleep(pausa)
    led7. value(0)
    sleep(pausa)
    led8. value(1)
    sleep(pausa)
    led8. value(0)
    sleep(pausa)
    led9. value(1)
    sleep(pausa)
    led9. value(0)
    sleep(pausa)
    led10. value(1)
    sleep(pausa)
    led10. value(0)
    sleep(pausa)
    led1. value(1)
    sleep(pausa)
    led1. value(0)
    sleep(pausa)

###2.	Segundo

from machine import Pin as pin
from utime import sleep as pausa, sleep_ms as pausam
leda=pin(15, pin.OUT)
ledb=pin(2, pin.OUT)
ledc=pin(4, pin.OUT)
ledd=pin(16, pin.OUT)
lede=pin(17, pin.OUT)
ledf=pin(18, pin.OUT)
ledg=pin(19, pin.OUT)
ledh=pin(21, pin.OUT)
ledi=pin(3, pin.OUT)
ledj=pin(1, pin.OUT)
def print_led(a,b,c,d,e,f,g,h,i,j) :
    leda.value(a)
    ledb.value(b)
    ledc.value(c)
    ledd.value(d)
    lede.value(e)
    ledf.value(f)
    ledg.value(g)
    ledh.value(h)
    ledi.value(i)
    ledj.value(j)
    pausam(200)
while True:
    print_led(1,0,0,0,0,0,0,0,0,1)
    print_led(0,1,0,0,0,0,0,0,1,0)
    print_led(0,0,1,0,0,0,0,1,0,0)
    print_led(0,0,0,1,0,0,1,0,0,0)
    print_led(0,0,0,0,1,1,0,0,0,0)
    print_led(0,0,0,0,1,1,0,0,0,0)
    print_led(0,0,0,1,0,0,1,0,0,0)
    print_led(0,0,1,0,0,0,0,1,0,0)
    print_led(0,1,0,0,0,0,0,0,1,0)
    print_led(1,0,0,0,0,0,0,0,0,1)

###3.	Tercero

from machine import Pin
import utime
led1=Pin(15, Pin.OUT)
led2=Pin(2, Pin.OUT)
led3=Pin(4, Pin.OUT)
led4=Pin(16, Pin.OUT)
led5=Pin(17, Pin.OUT)
led6=Pin(18, Pin.OUT)
led7=Pin(19, Pin.OUT)
led8=Pin(21, Pin.OUT)
led9=Pin(3, Pin.OUT)
led10=Pin(1, Pin.OUT)
todos = [led1, led2, led3, led4, led5, led6, led7, led8, led9, led10]
def derecha():
    for elemento in todos:
        elemento. value(1)
        utime.sleep_ms(50)
        elemento.value(0)
        utime.sleep(0.05)
def izquierda():
    for elemento in reversed (todos) :
        elemento. value(1)
        utime.sleep(0.05)
        elemento.value(0)
        utime.sleep(0.05)
while True:
    derecha()
    # izquierda()

###4.	Cuarto

from machine import Pin as pin
from utime import sleep as pausa, sleep_ms as pausam
ledb=pin(15, pin.OUT)
ledc=pin(2, pin.OUT)
leda=pin(4, pin.OUT)
ledd=pin(16, pin.OUT)
ledf=pin(17, pin.OUT)
lede=pin(18, pin.OUT)
ledj=pin(19, pin.OUT)
ledh=pin(21, pin.OUT)
ledi=pin(3, pin.OUT)
ledg=pin(1, pin.OUT)
ledt=[leda,ledb,ledc,ledd,lede,ledf,ledg,ledh,ledi,ledj]
def derecha() :
    for i in ledt:
        for j in range (2):
            i. value(not i.value())
            pausam(150)
def izquierda():
    for i in reversed (ledt):
        for j in range (2):
            i. value(not i.value())
            pausam(150)
while True:
    derecha()
    # izquierda()

##5.	Quinto

from machine import Pin as pin
from utime import sleep as pausa, sleep_ms as pausam
puerto=[15,2,4,16,17,18,19,21,3,1]
toditicos=[]
for i in puerto:
    toditicos.append(pin(i,pin.OUT))
print (toditicos)
def derecha():
    for i in toditicos:
        for j in range (15):
            i. value(not i.value())
        pausam(200)
def izquierda():
    for i in reversed (toditicos):
        for j in range (15):
            i. value(not i.value())
        pausam(200)
while True:
    derecha()
    # izquierda()

